<h1> Bienvenido a DCCursos </h1>




<%if current_user%>
    <%= link_to 'Cursos disponibles', cursos_index_path %>
    <%= link_to 'View profile', users_show_path(current_user.id)%>
<%else%>
    <h3> Porfavor logeate </h3>
<%end%>